.header{
    height: 80px;
    padding: 0px 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder
}
.body .h1{
    text-align: center;
    color: bisque;
}